{% extends "common/base.html" %}

{% block title %}Welcome!{% endblock %}

{% block main %}

<!-- Main row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">欢迎!</h1>
    <p>还没准备好哈！.</p>
    <p>不知道怎么弄了</p>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i> 成都，逮不走的只有你</h4>
      </div>
      <div class="panel-body">
        <p>弄些什么才好看</p>
        <a href="#" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i> 贝纳利 &amp; TNT 150 8800开卖哦</h4>
      </div>
      <div class="panel-body">
        <p>烧钱烧钱</p>
        <a href="https://baijiahao.baidu.com/po/feed/share?wfr=spider&for=pc&context=%7B%22sourceFrom%22%3A%22bjh%22%2C%22nid%22%3A%22news_3614716419341118846%22%7D" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-compass"></i> 定金1000</h4>
      </div>
      <div class="panel-body">
        <p>一千块块，来嘛?</p>
        <a href="#" class="btn btn-default">Learn More</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
